header {
  background-color: #323131;
  height: 10vh;
  padding-left: 30px;
  padding-top: 10px;
  position: relative;

  h1 {
    margin: 0;
    font-family: 'Damion', cursive;
    font-size: 6vh;
    color: white;
  }

  .search_bar {
    position: absolute;
    display: inline-block;
    width: auto;
    top: 15px;
    right: 15px;


    input[type="text"] {
      height: 35px;
      width: 110px;
      background: none;
      border: none;
      border-bottom: 1px solid #CCC;
      font-size: 30px;
      color: white;
      outline: none;
      text-align: center;
      transition: 1s;
    }

    input[type="text"]:focus {
      border-bottom: 1px solid orange;
      width: 300px;
      transition: 1s;
    }

    input.search_bar__button {
      height: 30px;
      margin-left: 10px;
      border: 1px solid #999;
      background: #636363;
      color: white;
    }
  }

}
.search_options {
  display: none;
  text-align: center;
  height: 120px;

  
}