header {
  background-color: #323131;
  height: 10vh;
  padding-left: 30px;
  padding-top: 10px;
  position: relative;

  h1 {
    margin: 0;
    font-family: 'Damion', cursive;
    font-size: 6vh;
    color: white;
  }

  .search_bar {
    position: absolute;
    display: inline-block;
    text-align: right;
    width: auto;
    top: 15px;
    right: 15px;

    input {
      border: 0;
      height: 30px;
      margin-left: 10px;

      input[type="text"] {
        width: 300px;
      }
    }
    input.search_bar__button {
      border: 0;
      background: #636363;
      color: white;
    }
  }


}
