.thumbnail, .low_resolution{
  display: inline-block;
}

.thumbnail {
  margin-left: 5px;
}

.standard_resolution {
  margin-left: 5px;
  position: relative;
  img {
    display: inline-block;
  }
}

.caption_container {
  display: inline-block;
  position: absolute;
  top: 200px;
  font-size: 30px;
  max-width: 40%;
  margin-left: 20px;

  white-space: pre-wrap;      /* CSS3 */   
  white-space: -moz-pre-wrap; /* Firefox */    
  white-space: -pre-wrap;     /* Opera <7 */   
  white-space: -o-pre-wrap;   /* Opera 7 */    
  word-wrap: break-word;      /* IE */

}
